<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Query</title>
  </head>
  <body>
    <body>
      <div>
        <h1><b>Welcome to Tropical Pools</b></h1>
        <h1>-------------------------</h1>

        <p>Hello <b> Admin </b></p>
        <p>A Query from <b> <%= name %> </b></p>
        <br />
        <p>Email : <b> <%= email %> </b></p>
        <br />
        <p><%= message %></p>
        <br />
      </div>
    </body>
  </body>
</html>
